.work {
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.work-left {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 25% 0%;
}

.work-right {
    background: url("../img/img06_v.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 25% 0%;
}